$color-primary-light: hsl(185, 75%, 39%);
$color-primary-dark: hsl(227, 10%, 46%);
$color-primary-darker: hsl(229, 23%, 23%);

$color-neutral-Dark: hsl(0, 0%, 59%);

$fs-name-stats: 1.125rem; // 18px

$ff-default: "Kumbh Sans", sans-serif;
$fw-default: 400;
$fw-bold: 700;
